body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*MENU*/
.cabecalho{
    background-color: #2d2e32;
    color: aliceblue;
    background: linear-gradient(to right, #2d2e32, #4f4f5c); 

}

.menu{
    background-color: #28292d;
    color: aliceblue;
    display: flex;
    align-items: center;
    height: 70px;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    margin: 0 10px;  
}
  

.menu a:hover {
    color: #67f5b1; /* Cor ao passar o mouse */
}

.menu a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #67f5b1; /* Cor da linha ao passar o mouse */
    bottom: -2px; /* Posicionamento abaixo do texto */
    left: 0;
    transition: width 0.3s ease;
}
  
.menu i {
    margin-left: 1px;
}
  
.logo {
    margin-right: auto; /* Empurra para a esquerda */
}

.menu_centro {
    margin: 0 auto; /* Centraliza no meio */
}

.social {
    margin-left: auto; /* Empurra para a direita */
 
}
/*Fim MENU*/

/*AREA INICIAL*/
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    align-items: center;
    
}

.conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.titulo,
.subtitulo,
.paragrafo {
    
    /*text-align: center;*/
   
}

.titulo {
    background-color: #67f5b1;
    color: #28292d;
    text-align: center;
    flex: 1;
    height: 20px;
    width: 400px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra em degradê */

}

.titulo h2{
    align-items: center;
}

.subtitulo {
}

.paragrafo {
}

.imagem {
    flex: 0 0 60%; /* Largura fixa para a imagem */
    text-align: right;
}

.imagem img {
    max-width: 100%;
    height: auto;
}
/*FIM AREA INICIAL*/



/*PORTIFOLIO*/
.portfolio {
    background-color: #f9f9f9;
    padding: 80px 0;
    text-align: center;
    height 600px;
  }
  
  .portfolio h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .grid-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }
  
  .portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .portfolio-item:hover img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .portfolio-item:hover .overlay {
    opacity: 1;
  }
  /*FIM PORTIFOLIO*/

  /*DEPOIMENTOS*/
.testemunhas{
    background-color: #28292d;
    padding: 50px;
    
}

.depoimento-h1{
    color:#f9f9f9
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    background-color: #28292d;
    margin-bottom: 100px;
    margin-top: 100px;
}

.testimonial {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.testimonial:hover {
    transform: translateY(-5px);
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.message {
    flex: 1;
}

.message p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.client {
    font-style: italic;
    font-size: 14px;
}
/*FIM DEPOIMENTO*/


/* Estilos para o footer */
footer {
    background-color: #333; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto */
    padding: 40px 0; /* Espaçamento interno superior e inferior */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%; /* Largura de cada seção */
    padding: 20px;
    box-sizing: border-box; /* O preenchimento não aumentará a largura da seção */
}

.footer-section h2 {
    color: #fff; /* Cor do título */
    font-size: 1.2em; /* Tamanho da fonte do título */
    margin-bottom: 10px; /* Espaçamento inferior do título */
}

.footer-section p {
    font-size: 0.9em; /* Tamanho da fonte do texto */
    margin-bottom: 15px; /* Espaçamento inferior do texto */
}

.footer-section ul {
    list-style: none; /* Remover os marcadores da lista */
    padding: 0; /* Remover o preenchimento padrão da lista */
}

.footer-section ul li {
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
}

.footer-section ul li a {
    color: #fff; /* Cor dos links */
    text-decoration: none; /* Remover sublinhado dos links */
}

.footer-bottom {
    background-color: #222; /* Cor de fundo da parte inferior do footer */
    padding: 10px 0; /* Espaçamento interno superior e inferior */
    text-align: center; /* Alinhar o texto ao centro */
}

.footer-bottom p {
    margin: 0; /* Remover margem padrão */
    font-size: 0.8em; /* Tamanho da fonte do texto */
}
